/* VEG BUDDY 
*************
style.css
*************
 6/2/16
*/



body {
	font-family: "Helvetica", sans-serif; font-size: 8pt;
}


h2, h3 { color: #8AD37F; font-size: 10pt; font-weight: bold; text-transform: uppercase;}
h3 { color: #fff;}


/* ***** HEADER ***** */


#mainlogo {
 max-height: 80px;
max-width: 200px; 
}

#headercust { background-color: #7ED305; position: relative; top: 0; left: 0; width: 100%; }
header a { color: #fff; }
header li:hover { background-color: #7ED305; }

/* vegweek */

#vegweek { background: rgba(17,244,216, .2); width: 200px; padding: 0; float: left; margin: 3% 0 0 -8%;}
#vegweek img, #vegweek p, #vegweek h2 { padding: 0 0 0 10px; }
#vegweek img { max-width: 190px; max-height: 190px; border: 1px solid black;}
#vegweek h3 { background-color: #11F4D8; display: block; width: 100%; text-align: center; margin-top: 0; padding: 3px 0;}

/* pic carousel */