/* VEG BUDDY 
*************
style.css
*************
 6/2/16
*/

/************************************************************ MAIN PAGE ************************************************************/

body { font-family: 'Roboto Condensed', sans-serif; font-size: 12pt; }
h1, h2, h3, h4 { color: #8AD37F; font-size: 14pt; font-weight: bold; text-transform: uppercase;}
h1 {color: #000; font-size: 30pt;}
h3, h5 { color: #fff;}
h4 { color: #8AD37F; }
h5 { font-size: 12pt; }
a { font-size: 18pt;}

/* header */
header { background-color: #7ED305; }
header h5  { margin: -11.5% 0 10% 44%; font-size: 8pt;}
#mainlogo { max-height: 10em; max-width: 15em; margin: 5% 0 3% 3%;}
#headercust { background-color: #7ED305; position: relative; top: 0; left: 0; width: 100%; }
header a, #subnav a { color: #fff; }
header li a:hover { background-color: none; }
#navbar { float: right; clear: none;  margin-top: .5em; }
#divider { color: #fff; margin-top: .5em; font-size: 16pt;}
#search { height: 60px; float: right; clear: none;  margin-top: .5em; }
#search #searchbox { width: 200px; height: 34px; border-radius: 5px; border: none; margin-top: 1%; }
#socmedicon { width: .9em; height: .9em; }

/*subnav*/
#subnav { border-radius: 0; background-color: rgba(126,211,5, .2); border: none; }
#subnav a { margin-top: 3%; color: #2696DB; }
#subnav ul { width: 100%; }
#subnav ul li { margin-right: 2%; }

/* vegweek */
#toprow { width: 100%; margin-left: 0; }
#vegweek, #slider, #dashwelc { background: rgba(17,244,216, .2); width: 27%; height: 30em; padding: 0; float: left; 
	margin: -.5% 1.8% .5em 0; float: left; clear: none; text-align: center; }
#vegweek img, #vegweek p, #vegweek h2 { padding: 0 10px; }
#vegweek img { max-width: 190px; max-height: 190px; padding-left: 10px; }
#vegweek h2 { margin: 3% 0 1% 0; }
#vegweek h3, #about h3, #dashwelc h3 { background-color: #11F4D8; display: block; width: 100%; margin-top: 0; padding: 3px 0; }
#vegweek p { font-size: 12pt; }

/* weekly video */
#videoweek { float: left; clear: left; width: 85%; }
#videocontent { float: left; clear: none; width: 37%; height: 15.888em; margin-right: .9%;  }
#videoweektext { background: rgba(239,239,27, .2); width: 60%; height: auto; padding: 0; float: left; 
	clear: none; text-align: center; }
#videoweektext h3 { background-color: #EFEF1B; display: block; width: 100%; margin-top: 0; padding: 3px 0; }
#videoweektext p { padding: 5px;}

/* pic carousel */
#slider { float: left; clear: none; margin-left: -.7%; width: 55%; height: 30em;}
#caropic { width: 100%; height: 100%; margin-left: -.8%;}
#slider li { list-style-type: none; }

/*recipes*/
#indexrecipe h3, #about h3, #privacy h3, #login h3, #recrecipe h3, #dashboard h3 { background-color: #21D306; display: block; width: 100%; margin: 0; padding: 3px 0; 
	text-align: center; font-size: 14pt; }
#indexrecipe, #about, #privacy { padding: 0; float: left; 
	margin: 1% 3% 3% 1.5%; clear: none; text-align: center; width: 97%; }
#indexrec1 img { margin: 6% 2% 0 2%; max-width: 90%; max-height: 17%; }
#indexrec1 { width: 32%; height: auto; float: left; clear: none; background: rgba(33,211,6, .2); margin-top: 0; }
#indexrec1 p { font-size: 9pt; text-align: left;}
#indexreccta { float: right; clear: both; margin: 3% 0;}

/*footer*/
#footer { background-color: #11F4D8; text-align: center; float: left; clear: both; width: 100%; height: auto; }
#footer ul { margin: 1% 0 1% 21%; }
#footer h3 { margin-bottom: 2%; clear: both; }

/*about page*/
#about, #privacy { width: 80%; margin-left: 10%; background-color: rgba(33,211,6, .2); }
#about p, #privacy p { padding: 3% 5% 2% 5%; }

/*sitemap*/
#sitemap img { max-width: 70%; max-height: 50%; margin: 1% 0 3% 10%; }

/*privacy policy*/
#privacy { text-align: left; }
#privacy b { font-size: 13pt; }

/*contact*/
#contact { margin-bottom: 5%; }
#contact p { color: #000; text-align: center; font-size: 12pt; }
#contactmap { margin: 2% 0 0 0; width: 100%; height: 30%; }

/*login*/
#login { margin: 2% 5% 3% 25%; }
#login #loginform { background-color: #EFEF1B; float: left; clear: none; width: 35%; margin-right: 2%; padding: 4% 2% 4% 3%; }
#loginform input { width: 95%; height: 50px; border: none; border-radius: 5px; margin-bottom: 8%; }
#login h3 { text-align: left; width: 35%; }
#login h4 { font-size: 26pt; }
#regcta { margin-top: 3.2%; }

/* RECIPES */
#accordion h3 { color: #000; }
#recrecipe, #dashboard { float: left; height: 30em; margin-bottom: 5%; }
#recrecipe #accordion { width: 80%; float: left; clear: none;}
#siderec, #dashboardlinks { float: left; clear: none; width: 20%; background-color: #EFEF1B; height: 30em; }
#recrecipe h3 { text-align: left; }
#siderec a, #recrecipe h3, #dashboardlinks a, #dashboard h3 { padding-left: .8em; }
#siderec a b, #dashboard a b {color: #8AD37F; font-size: 24pt;}

/* dashboard */
#dashwelc { float: left; clear: none; width: 20%; height: 30em; }
#dashboard { width: 70%; float: left; clear: none; margin-top: -.3em;}
#dashboard #accordion { width: 80%; float: left; clear: none; }