/* VEG BUDDY 
*************
style.css
*************
 6/2/16
*/

/************************************************************ MAIN PAGE ************************************************************/

body { font-family: 'Roboto Condensed', sans-serif; font-size: 12pt; }
h1, h2, h3, h4 { color: #8AD37F; font-size: 14pt; font-weight: bold; text-transform: uppercase;}
h1 {color: #000; font-size: 30pt;}
h3, h5 { color: #fff;}
h4 { color: #8AD37F; }
h5 { font-size: 12pt; }
a { font-size: 18pt;}

/* header */
header { background-color: #7ED305; }
header h5  { margin: -11.5% 0 10% 44%; font-size: 8pt;}
#mainlogo { max-height: 10em; max-width: 15em; margin: 5% 0 3% 3%;}
#headercust { background-color: #7ED305; position: relative; top: 0; left: 0; width: 100%; }
header a, #subnav a { color: #fff; }
header li a:hover { background-color: none; }
#navbar { float: right; clear: none;  margin-top: .5em; }
#divider { color: #fff; margin-top: .5em; font-size: 16pt;}
#search { height: 60px; float: right; clear: none;  margin-top: .5em; }
#search #searchbox { width: 200px; height: 34px; border-radius: 5px; border: none; margin-top: 1%; }
#socmed { width: 7.3em; height: 6.5em; margin-bottom: .6em; margin-left: .3em;}

/*subnav*/
#subnav { border-radius: 0; background-color: rgba(126,211,5, .2); border: none; }
#subnav a { margin-top: 3%; color: #2696DB; }
#subnav ul { width: 100%; }
#subnav ul li { margin-right: 2%; }

/* vegweek */
#toprow { width: 100%; margin-left: 0; }
#vegweek, #slider, #dashwelc, #featrec, #vidrec { background: rgba(17,244,216, .2); width: 27%; height: 32.5em; padding: 0; float: left; 
	margin: -.5% 1.8% 1em 0; float: left; clear: none; text-align: center; }
#vegweek img, #vegweek p, #vegweek h2 { padding: 0 10px; }
#vegweek img, #featrec img, #dashwelc img { max-width: 190px; max-height: 190px; padding-left: 10px; }
#vegweek h2 { margin: 3% 0 1% 0; }
#vegweek h3, #about h3, #dashwelc h3, #featrec h3 { background-color: #11F4D8; display: block; width: 100%; margin-top: 0; padding: 3px 0; }
#vegweek p { font-size: 12pt; }

/* weekly video */
#videoweek { float: left; clear: left; width: 100%; margin-top: -1em; margin-left: -1.3%;}
#videocontent { float: left; clear: none; width: 37%; height: 17.888em; margin-right: .9%;  }
#videoweektext { background: rgba(239,239,27, .2); width: 62%; height: 17.888em; padding: 0; float: right; 
	clear: none; text-align: center; }
#videoweektext h3 { background-color: #EFEF1B; display: block; width: 100%; margin-top: 0; padding: 3px 0; }
#videoweektext p { padding: 5px;}

/* pic carousel */
.carousel-inner, #vidrec { float: left; clear: none; margin-left: -.7%; width: 55%; height: 34em;}
.carousel-caption { background: rgba(138,211,127, 0.6); }
.carousel-inner img { width: 100%; height: 100%; margin-left: -.8%;}
.carousel-inner li { list-style-type: none; }
#leftcontrol { position: absolute; top: 25em; left: 32em;}
#rightcontrol { position: absolute; top: 25em; left: 55em; }
#caropic { width: 100%; height: 32em; }

/*recipes*/
#indexrecipe h3, #about h3, #privacy h3, #login h3, #recrecipe h3, #dashboard h3, #vidrec h3 { background-color: #21D306; 
	display: block; width: 100%; margin: 0; padding: 3px 0; text-align: center; font-size: 14pt; }
#indexrecipe, #about, #privacy { padding: 0; float: left; 
	margin: 1% 3% 3% 0; clear: none; text-align: center; width: 97%; }
#indexrec1 img { margin: 6% 2% 0 2%; max-width: 90%; max-height: 17%; }
#indexrec1 { width: 32%; height: auto; float: left; clear: none; background: rgba(33,211,6, .2); margin-top: 0; }
#indexrec1 p { font-size: 9pt; text-align: left;}
#indexreccta { float: right; clear: both; margin: 3% 0;}

/*footer*/
footer { background-color: #11F4D8; text-align: center; float: left; clear: both; width: 103.8%; height: auto; margin-left: -2em;}
#footer ul { margin: 1% 0 1% 21%; }
#footer h3 { margin-bottom: 2%; clear: both; }

/*about page*/
#about, #privacy { width: 80%; margin-left: 10%; background-color: rgba(33,211,6, .2); }
#about p, #privacy p { padding: 3% 5% 2% 5%; }

/*sitemap*/
#sitemap img { max-width: 70%; max-height: 50%; margin: 1% 0 3% 10%; }

/*privacy policy*/
#privacy { text-align: left; }
#privacy b { font-size: 13pt; }
#privacy h4 { margin-left: 2em; }

/*contact*/
#contact { margin-bottom: 5%; }
#contact p { color: #000; text-align: center; font-size: 12pt; }
#contactmap { margin: 2% 0 0 0; width: 100%; height: 30%; }

/*signup*/
#signup { margin: 2em 0 3em 23em; }


/*login*/
#login { margin: 2% 5% 3% 25%; }
#login #loginform { background-color: #EFEF1B; float: left; clear: none; width: 35%; margin-right: 2%; padding: 4% 2% 7% 3%; }
#loginform input { width: 95%; height: 50px; border: none; border-radius: 5px; margin-bottom: 8%; }
#login h3 { text-align: left; width: 35%; }
#login h4 { font-size: 26pt; }
#regcta { margin-top: 3.2%; }

/* RECIPES */
#accordion h3 { color: #000; }
#recrecipe, #dashboard { float: left; height: auto; margin-bottom: 5%; }
#recrecipe #accordion { width: 80%; float: left; clear: none;}
#siderec, #dashboardlinks { float: left; clear: none; width: 20%; background-color: #EFEF1B; height: 80em; }
#recrecipe h3 { text-align: left; }
#siderec a, #recrecipe h3, #dashboardlinks a, #dashboard h3 { padding-left: .8em; }
#siderec a b, #dashboard a b {color: #8AD37F; font-size: 24pt;}
#smallrecipepagepics { max-width: 5em; max-height: 4em; margin-right: 1em;}
#accordion p { margin-left: 1em; }
#featrec { overflow: scroll; text-align: left; }
#featrec h3, #featrec h2 { text-align: center; }
#featrec img { margin-left: 4em; }
#featrec h2, #featrec p, #vidrec p { margin: 1em;}
#vidrec { background-color: rgba(33,211,6, .2); width: 69%; text-align: left; overflow: scroll; }
#vidrecvid { float: left; clear: none; height: 18em; width: 22em; padding: 1em; }
#headingFour img { margin-left: .8em; }

/* dashboard */
#dashwelc { float: left; clear: none; width: 20%; height: 30em; }
#dashboard { width: 70%; float: left; clear: none; margin-top: -.3em;}
#dashboard #accordion { width: 80%; float: left; clear: none; }

/*userpage*/
#privacy table tr:nth-child(even) { background-color: rgba(33,211,6, .3); }
#privacy table tr:nth-child(even):hover { background-color: #fff; }

