<!--VEG BUDDY 
*************
recipes.html
*************
 6/2/16
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Vegan Social Network">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VegBuddy - The New Hub for Vegans Everywhere</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- HEADER -->
	<header>
		<div class="container" id="headercust">
        	<div class="navbar-header">
				<img id="mainlogo" src="../images/white_logo.png"><br>
				<h5>The New Hub for Vegans Everywhere</h5>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
         		</button>
          	</div>

       		<div id="navbar" class="collapse navbar-collapse">
       			<ul class="nav navbar-nav">
            		<li class="active"><!--<img src="user_pic.png"--><a href="login.html">Login</a></li>
            		<li id="divider">&nbsp;|&nbsp;</li>
            		<li><a href="signup.html">Sign-Up</a></li>
        		</ul>
        	<!--	<ul class="nav navbar-nav">
            		<li class="active"><a href="#">Hello Username!</a></li>
            		<li id="divider">&nbsp;|&nbsp;</li>
            		<li><a href="#about">3 Messages</a></li>
            		<li id="divider">&nbsp;|&nbsp;</li>
            		<li><a href="#contact">Logout</a></li>
        		</ul> -->
    		</div><!--/.nav-collapse -->
    	
    		<div id="search">
				<form id="newsearch" method="get" action="http://www.google.com">
    			<a href="https://www.facebook.com/VegBuddy"><img id="socmedicon" src="../images/socmedindex-01.png"></a>
    			<a href="https://www.twitter.com/VegBuddy"><img id="socmedicon" style="margin:0 20px 0 5px;" 
    				src="../images/socmedindex-02.png"></a>
		        	<input type="text" id="searchbox" placeholder="&nbsp;&nbsp;SEARCH VEGBUDDY" style="color:#d4d4d4;"></input>
		        	<button type="submit" class="btn btn-primary" aria-label="Left Align">
  						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</form>
			</div>
		</div>
	</header>

	<nav class="navbar navbar-inverse" id="subnav">
  		<ul class="nav navbar-nav">
  			<li style="margin-left:2%;"><a href="../index.html">Home</a></li>
  			<li class="dropdown">
  				<a href="recipes.html" class="dropdown-toggle" data-toggle="dropdown" role="button" 
  				aria-haspopup="true" aria-expanded="false">Recipes<span class="caret"></span></a>
          		<ul class="dropdown-menu">
            		<li><a href="recipes.html">Breakfast</a></li>
            		<li><a href="#">Lunch</a></li>
            		<li><a href="#">Dinner</a></li>
            		<li><a href="#">Dessert</a></li>
            		<li><a href="#">Snacks</a></li>
            		<li><a href="#">Appetizers</a></li>
            		<li><a href="#">Drinks</a></li>
          		</ul>
        </li>
        <li><a href="users.html">Users</a></li>
      <!--  <li><a href="#">Chatrooms</a></li> -->
      </ul>
  </nav>


  <!--welcome -->
  <div class="container" id="toprow">
    <div id="dashwelc" class="container">              
      <h3>WELCOME USERNAME!</h3>
      <img src="../images/veg_week.jpg"><br>
      <a href="updatephoto.html">Update photo</a><br>
      <a href="messages.html">Messages</a><br>
      <a href="myfriends.html">My Friends</a><br>
    </div>


  

  <!-- RECIPES -->
  <div id="dashboard" class="container">
  <h3>Messages</h3>
    <div id="dashboardlinks">           
      <a href="inbox.html">Inbox (3)</a><br>
      <a href="saved.html"><b>Saved</b></a><br>
      <a href="deleted.html">Deleted</a><br>
    </div>

     <a name="dash">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Mike Russo | 6/22/16 | 1:27pm | Roomate
          </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      Hey there! My roommate and I are looking for another housemate. We live in a large apartment in Upper Darby. There are two bedrooms and a spacious living area. The rent is $250 a month, which includes cable, internet, electric, and water. 

My roommate and I are both vegans and will only live with another vegan. IF YOU AREN'T A VEGAN, YOU NEED NOT APPLY. We are looking for someone who will help with the cooking, in addition to the rent. 

If you are a vegan and want to live with two vegans who respect your personal space, please e-mail us. Include some information about yourself, including your source of income.
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mary Stevens | 6/21/16 | 12:03pm
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            dogs can eat a vegetarian diet and thrive. While this topic is certainly interesting to vegetarians, owners who don't have issues feeding their dogs meat should also pay attention. Here's why: It is true that dogs belong to the order Carnivora, but they are actually omnivores
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Philip Wilson | 6/21/16 | 9:31am | Fwd: You Know You're Vegan when...
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      1. You have grown weary of the constant vegan jokes.
wifflegif.com
2. “What if you get trapped on a desert island.”
"What if you get trapped on a desert island."
imgur.com
3. “Plants have feelings too but you still eat those.”
giphy.com
4. “Do you mind if I eat meat in front of you?”
gif-central.blogspot.com
5. Everyone around you is an expert on nutrition.
blogger.com
6. “Where do you get your protein fr…”
"Where do you get your protein fr..."
imgur.com
7. People are constantly asking why you went vegan.
 27 Things You Know When You&#39;re The Only Vegan In The Village
adorable-gifs.tumblr.com
8. And when you explain they get mad at your for “preaching”.
goodreads.com
9. You have your own pans, plates, and cutlery to avoid any possible meat residue left by your parents/roommate.
You have your own pans, plates, and cutlery to avoid any possible meat residue left by your parents/roommate.
testkitchentuesday.com
10. Strangers tell you about the time they went vegetarian for a couple of weeks.
imgfave.com
11. But that they gave it up because they “could NEVER stop eating bacon.”
gifrific.com
12. Everyone assumes you eat this.
Everyone assumes you eat this.
Nikolay Trubnikov / Thinkstock
13. But your diet mostly consists of these…
But your diet mostly consists of these...
Stacey Newman / Thinkstock
14. And definitely a lot of these…
And definitely a lot of these...
15. Your relationship with hummus is next-level.
anarmyoflepers.tumblr.com
16. You automatically refuse all hors d’oeuvres, buffet items, and birthday cakes.
google.co.uk
17. And you don’t even bother trying to attend BBQs.
benedictcumberbatchruinedme.tumblr.com
“You can use the grill once we’re done.”
18. Your friends always want to meet at restaurants where you can only eat the side salad.
    </div>
  </div>
</div>
    </div>  

  </div>


	<!-- FOOTER -->
	<footer>
		<div class="container" id="footer">
			<ul class="nav navbar-nav" id="footernav">
				<li><a href="about.html">ABOUT US</a></li>
				<li><a href="privacy.html">PRIVACY POLICY</a></li>
				<li><a href="sitemap.html">SITE MAP</a></li>
				<li><a href="useragree.html">USER AGREEMENT</a></li>
				<li><a href="contact.html">CONTACT US</a></li><br>
			</ul><br><br>
			<h3>COPYRIGHT 2016 WEB EARTH COOP. 403 EUCLID AVE. SYRACUSE, NY 13023 WEBEARTHCOOP.NET</h3>
		</div>
	</footer>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>


</body>

</html>