<!--VEG BUDDY 
*************
signup.html
*************
 6/2/16
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="Vegan Social Network">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VegBuddy - The New Hub for Vegans Everywhere</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

<script>

$(document).ready(function(){
  $('.bxslider').bxSlider();
});

</script>

</head>
<body>

	<!-- HEADER -->
	<header>
		<div class="container" id="headercust">
        	<div class="navbar-header">
				<img id="mainlogo" src="../images/white_logo.png"><br>
				<h5>The New Hub for Vegans Everywhere</h5>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
         		</button>
          	</div>

       		<div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><!--<img src="user_pic.png"--><a href="login.html">Login</a></li>
                <li id="divider">&nbsp;|&nbsp;</li>
                <li><a href="signup.html">Sign-Up</a></li>
            </ul>
          <!--  <ul class="nav navbar-nav">
                <li class="active"><a href="#">Hello Username!</a></li>
                <li id="divider">&nbsp;|&nbsp;</li>
                <li><a href="#about">3 Messages</a></li>
                <li id="divider">&nbsp;|&nbsp;</li>
                <li><a href="#contact">Logout</a></li>
            </ul> -->
    		</div><!--/.nav-collapse -->
    	
    		<div id="search">
				<form id="newsearch" method="get" action="http://www.google.com">
    			<a href="https://www.facebook.com/VegBuddy"><img id="socmedicon" src="../images/socmedindex-01.png"></a>
    			<a href="https://www.twitter.com/VegBuddy"><img id="socmedicon" style="margin:0 20px 0 5px;" 
    				src="../images/socmedindex-02.png"></a>
		        	<input type="text" id="searchbox" placeholder="&nbsp;&nbsp;SEARCH VEGBUDDY" style="color:#d4d4d4;"></input>
		        	<button type="submit" class="btn btn-primary" aria-label="Left Align">
  						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</form>
			</div>
		</div>
	</header>

	<nav class="navbar navbar-inverse" id="subnav">
  		<ul class="nav navbar-nav">
  			<li style="margin-left:2%;"><a href="../index.html">Home</a></li>
  			<li class="dropdown">
  				<a href="recipes.html" class="dropdown-toggle" data-toggle="dropdown" role="button" 
  				aria-haspopup="true" aria-expanded="false">Recipes<span class="caret"></span></a>
          		<ul class="dropdown-menu">
                <li><a href="breakfast.html">Breakfast</a></li>
                <li><a href="lunch.html">Lunch</a></li>
                <li><a href="dinner.html">Dinner</a></li>
                <li><a href="dessert.html">Dessert</a></li>
                <li><a href="snacks.html">Snacks</a></li>
                <li><a href="appetizers.html">Appetizers</a></li>
                <li><a href="drinks.html">Drinks</a></li>
          		</ul>
  			</li>
  			<li><a href="#">Users</a></li>
  			<li><a href="#">Chatrooms</a></li>
  		</ul>
	</nav>

  <!-- signup form -->
	 <div class="container" id="signup">
  <div class="row">
  	<div class="col-md-6">
    
          <form class="form-horizontal" action="" method="POST">
          <fieldset>
            <div id="legend">
              <legend class=""><h1>Register</h1></legend>
            </div>

     		<div class="control-group">
              <label class="control-label" for="firstname">First Name</label>
              <div class="controls">
                <input type="text" id="firstname" name="firstname" placeholder="" class="form-control input-lg">
                <p class="help-block">Please enter your first name</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="lastname">Last Name</label>
              <div class="controls">
                <input type="text" id="lastname" name="lastname" placeholder="" class="form-control input-lg">
                <p class="help-block">Please enter your last name</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password_confirm">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg">
                <p class="help-block">Please confirm password</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="zip">Zip Code</label>
              <div class="controls">
                <input type="text" id="zip" name="zip" placeholder="" class="form-control input-lg">
                <p class="help-block">Please provide your zip Code</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-primary btn-send btn-group-lg">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>

	<!-- FOOTER -->
	<footer>
		<div class="container" id="footer">
			<ul class="nav navbar-nav" id="footernav">
				<li><a href="about.html">ABOUT US</a></li>
				<li><a href="privacy.html">PRIVACY POLICY</a></li>
				<li><a href="sitemap.html">SITE MAP</a></li>
				<li><a href="useragree.html">USER AGREEMENT</a></li>
				<li><a href="contact.html">CONTACT US</a></li><br>
			</ul><br><br>
			<h3>COPYRIGHT 2016 WEB EARTH COOP. 403 EUCLID AVE. SYRACUSE, NY 13023 WEBEARTHCOOP.NET</h3>
		</div>
	</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
<script src="js/validator.js"></script>
<script src="js/contact.js"></script>


</body>

</html>